parameters:
	ignoreErrors:
		-
			message: '#^Class Phunky\\LaravelMessagingGroups\\Group has PHPDoc tag @property for property \$meta with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Group.php

		-
			message: '#^Method Phunky\\LaravelMessagingGroups\\Group\:\:conversation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Group.php

		-
			message: '#^Method Phunky\\LaravelMessagingGroups\\Group\:\:owner\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\MorphTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Group.php

		-
			message: '#^Method Phunky\\LaravelMessagingGroups\\Group\:\:participants\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Group.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Group.php

		-
			message: '#^Method Phunky\\LaravelMessagingGroups\\GroupService\:\:create\(\) has parameter \$meta with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/GroupService.php

		-
			message: '#^Method Phunky\\LaravelMessagingGroups\\GroupService\:\:messages\(\) return type with generic interface Illuminate\\Contracts\\Pagination\\CursorPaginator does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/GroupService.php

		-
			message: '#^Method Phunky\\LaravelMessagingGroups\\GroupService\:\:messages\(\) return type with generic interface Illuminate\\Contracts\\Pagination\\LengthAwarePaginator does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/GroupService.php
